# Ignore virtual environments
venv/

# Ignore Python cache
__pycache__/
*.py[cod]
.pytest_cache/

# Ignore logs and temp files
log/
*.log
*.tmp

# Jupyter
.ipynb_checkpoints/

# Ignore OS files
.DS_Store

# mlflow
mlruns/